.member-perks {
  background-color: var(--background-base-primary);
  display: flex;
  flex-direction: column;
  gap: var(--icon-gap);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.member-perks-title {
  font-family: var(--font-family-body);
  font-weight: 600;
  font-size: var(--font-size-h4);
  color: var(--foreground-base-primary);
  line-height: var(--line-height-h4);
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: max-content;
}

.member-perks-list {
  display: flex;
  flex-direction: column;
  gap: var(--icon-gap);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.member-perks-list .icon-line {
  width: 100%;
  max-width: 353px;
}
