.section-supporting {
  background-color: var(--background-base-primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
}

.section-supporting-header {
  width: 100%;
  max-width: 369px;
  margin-bottom: var(--item-spacing);
}

.section-supporting-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 300px;
  width: 100%;
  position: relative;
  flex-shrink: 0;
}

.section-supporting-image {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  max-height: 690px;
  overflow: hidden;
  padding: 0 0 16px 0;
  width: 100%;
  position: relative;
  flex-shrink: 0;
}

.section-supporting-image-content {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.section-supporting-image-placeholder {
  width: 100%;
  aspect-ratio: 406/430.206;
  background-color: var(--background-base-secondary);
  background-size: 105.25% 100.13%;
  background-position: top left;
  background-repeat: no-repeat;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 0;
  min-height: 0;
  flex-shrink: 0;
}

.placeholder-content {
  text-align: center;
  color: var(--foreground-base-secondary);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
}

.placeholder-content p {
  margin: 0;
  padding: 0;
}

.section-supporting-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  flex-shrink: 0;
}

.section-supporting-description p {
  font-family: var(--font-family-body);
  font-weight: 400;
  font-size: var(--font-size-body);
  color: var(--foreground-base-secondary);
  line-height: var(--line-height-body);
  margin: 0;
  padding: 0;
  width: 100%;
}
