.section-hero {
    background-color: var(--background-base-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--side-spacing);
    width: 100%;
    height: 230px;
    gap: var(--item-spacing);
}

.logo {
    width: 173px;
    height: 72px;
    background-size: 100% 239.62%;
    background-position: 0% 48.65%;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
}

.title {
    font-family: var(--font-family-body);
    font-weight: 600;
    font-size: var(--font-size-heading);
    color: var(--foreground-base-primary);
    text-align: center;
    letter-spacing: 6.4px;
    opacity: 0.6;
    line-height: var(--line-height-heading);
    width: 100%;
}

.description {
    font-family: var(--font-family-body);
    font-weight: 400;
    font-size: var(--font-size-body);
    color: var(--foreground-base-secondary);
    text-align: center;
    opacity: 0.8;
    line-height: var(--line-height-body);
    width: 100%;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--line-spacing);
    width: 277px;
    padding-top: var(--item-spacing);
}

.stars {
    display: flex;
    gap: var(--icon-gap);
    align-items: center;
    justify-content: center;
}

.star {
    color: var(--star-color);
    font-size: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating-text {
    font-family: var(--font-family-body);
    font-weight: 400;
    font-size: var(--font-size-body-s);
    color: var(--foreground-base-secondary);
    text-align: center;
    line-height: var(--line-height-body-s);
    width: 100%;
}

.tile-container {
    width: 100%;
    max-width: 350px;
    margin-top: var(--item-spacing);
}